:root{

    --primary:#2563eb;
    --secondary:#0f172a;
    --accent:#38bdf8;

    --background:#f8fafc;
    --card:#ffffff;

    --text:#1e293b;
    --gray:#64748b;

    --shadow:0 10px 30px rgba(0,0,0,.08);

    --radius:16px;

    --transition:.35s ease;
}